@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

//  PRIMARY BLUES

//intro and email sign up background
$darkBlueIntroAndEmail : hsl(217, 28%, 15%);
//main background
$darkBlueMain : hsl(218, 28%, 13%);
//footer background
$darkBlueFooter : hsl(216, 53%, 9%);
//testimonials background
$darkBlue : hsl(219, 30%, 18%);

// ACCENT 

//inside call-to-action gradient
$cyan : hsl(176, 68%, 64%);
//inside call-to-action gradient
$blue : hsl(198, 60%, 50%);
//error
$lightRedError : hsl(0, 100%, 63%);

//White
$white: hsl(0, 0%, 100%);

$defaultFontSize: 0.875rem;

// Headings, Call-to-actions, Header Navigation (https://fonts.google.com/specimen/Raleway);
$family1: "Raleway";
// Body (https://fonts.google.com/specimen/Open+Sans);
$family2: "Open Sans";

$weightSmall: 400;
$weightLarge:  700;

*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $family2;
}
.page-container{
    position: relative;
    background-color: $darkBlueFooter;
    height: 100%;
    .underlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        background-color: $darkBlueMain;
    }
    .page-content{
        position: relative;
        max-width: 80.25rem;
        width: 100%;

    }
}
.big-logo{
    width: 8.75rem;
}
.small-logo{
    width: 6rem;
}

.nav{
    a{
        text-decoration: none;
    }
}
.hero{
    .hero-img{
        max-width: 32.5rem;
        width: 100%;
    }
    h1{
        max-width: 30.625rem;
        width: 100%;
    }
    p{
        max-width: 26.25rem;
        width: 100%;
    }
    button{
        max-width: 12.5rem;
        width: 100%;
    }
}

.fit-content{
    width: fit-content !important;
}
.property{
    width: 100%;
    max-width: 16.25rem;
    text-align: center;
    img{
        max-height: 4.375rem;
        height: 100%;
    }
}

.productive{
    .productive-img{
        img{
            max-width: 27.813rem;
            width: 100%;
        }
    }
    .productive-text{
        h2{
            max-width: 15.625rem;
            width: 100%;
        }
        p{
            max-width: 25rem;
            width: 100%;
        }
    }
}

.review{
    max-width: 15rem !important;
    min-width: 15rem !important;
    p{
        max-width: 13.75rem;
        width: 100%; 
    }
    .row{
        .review-profile{
            img{
                max-width: 3rem;
                max-height: 3rem;
                width: 100%;
                border-radius: 50%;
            }
            .review-profile-text{

            }
        }
    }
}

.early-access{
    width: 100%;
    max-width: 39.063rem;
    padding: 0 4rem !important;
    
    .row{
        .col{

            h2{
                max-width: 15.938rem;
                width: 100%;
            }
            p{
                max-width: 28.125rem;
                width: 100%;
            }
            input{
                margin-right: 1rem !important;
                width: 100% !important;
                color: black;
            }
            button{
                font-size: 0.8rem;
                width: 100% !important;
                height: 100%;
                color: black;
            }
        }
        
    }
}
